<div class="sidebar">
  <h3 class="online__users">Online Users <span>5</span></h3>
  <ul class="users">
    <li class="active">user1</li>
    <li>user2</li>
    <li>user3</li>
    <li>user4</li>
    <li>user5</li>
  </ul>
</div>
